@import "tailwindcss";

@theme {
	--color-accent: #0000FF;
	--color-primary: #fef3e2;
	--color-secondary: #393e46;
}


.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0 !important;
}

.goog-te-combo {
  font-size: 14px !important;
  padding: 6px 12px !important;
  border-radius: 10px !important;
  border: 1px solid #e5e7eb !important;
  background-color: white !important;
  color: #111827 !important;
  cursor: pointer;
}


.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}


html {
  scroll-behavior: smooth;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

